<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>系统首页</title>
    <link href="index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!--container是一个页面容器div定义了可见区域的-->
    <div id="container">
      <!--pageHeader定义页面头部信息-->
      <div id="pageHeader">
        <div id="banner"></div>

        <div id="search">
          <div class=" search-list">
            <ul class="linklist9 cf">
              <li class="first selected"><a href="http://www.bing.com/search?FORM=MSNH11&amp;q=">Web</a></li>
              <li><a href="http://www.bing.com/search?q=&amp;FORM=MSNH11&amp;scope=msn">MSN</a></li>
              <li><a href="http://www.bing.com/images/search?q=&amp;FORM=MSNH11">Images</a></li>
              <li><a href="http://www.bing.com/videos?FORM=MSNH11&amp;q=">Videos</a></li>
              <li><a href="http://www.bing.com/shopping/search?FORM=MSNH11&amp;q=">Shopping</a></li>
              <li><a href="http://www.bing.com/news/?FORM=MSNH11&amp;q=">News</a></li>
              <li class="last"><a href="http://www.bing.com/maps/?FORM=MSNH11&amp;q=">Maps</a></li>
            </ul>
          </div>

          <div class="kvlc"></div>
          <div class="kvwrap">
            <form id="srchfrm" class="simple6" method="get" action="http://www.bing.com/search">
              <div class="frmwrp">
                <input type="text" accesskey="S" maxlength="250" size="75" name="q" id="f1" autocomplete="off"/>
                <input type="image" name="imageField" src="index_15.gif"/>
              </div>
            </form>
          </div>
          <div class="kvrc"></div>
        </div>
        <div id="classification">topic分类
          <ul>
            <li>
              <a href="#">分类1</a>
            </li>
            <li>
              <a href="#">分类1</a>
            </li>
            <li>
              <a href="#">分类1</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#">分类1</a>
            </li>
            <li>
              <a href="#">分类1</a>
            </li>
            <li>
              <a href="#">分类1</a>
            </li>
          </ul>
        </div>

        <div id="login">登录</div>
      </div>
      <!--left定义页面左侧信息-->
      <div id="left">

      </div>
      <!--middle定义页面中部信息-->
      <div id="middle">
        <div id="hotTopic">
          <h2>
            <a href="http://www.msnbc.msn.com/">本地热门</a>
          </h2>
          <div class="imgText">
            <div class="linkedimg">
              <a href="http://www.msnbc.msn.com/id/34641146"><img width="70" height="70" alt="Jobless claims lowest since July ’08 (Mark Ralston/AFP - Getty Images)" src="E1F750E0ED7D8EA48D6CC9AA34E1F9[1].jpg"/></a>
            </div>
            <ul>
              <li class="first" style="display: block;"><a href="http://www.msnbc.msn.com/id/34641146/ns/business-stocks_and_economy">地盘1名称</a></li>
              <li style="display: block;"><a href="http://www.msnbc.msn.com/id/34640612/ns/world_news">地盘1描述</a></li>
            </ul>
          </div>
          <div class="imgText">
            <div class="linkedimg">
              <a href="http://www.msnbc.msn.com/id/34641146"><img width="70" height="70" alt="Jobless claims lowest since July ’08 (Mark Ralston/AFP - Getty Images)" src="E1F750E0ED7D8EA48D6CC9AA34E1F9[1].jpg"/></a>
            </div>
            <ul>
              <li class="first" style="display: block;"><a href="http://www.msnbc.msn.com/id/34641146/ns/business-stocks_and_economy">地盘1名称</a></li>
              <li style="display: block;"><a href="http://www.msnbc.msn.com/id/34640612/ns/world_news">地盘1描述</a></li>
            </ul>
          </div>
        </div>

        <div id="hotTopic">
          <h2>
            <a href="http://www.msnbc.msn.com/">本地推荐</a>
          </h2>
          <div class="imgText">
            <div class="linkedimg">
              <a href="http://www.msnbc.msn.com/id/34641146"><img width="70" height="70" alt="Jobless claims lowest since July ’08 (Mark Ralston/AFP - Getty Images)" src="E1F750E0ED7D8EA48D6CC9AA34E1F9[1].jpg"/></a>
            </div>
            <ul>
              <li class="first" style="display: block;"><a href="http://www.msnbc.msn.com/id/34641146/ns/business-stocks_and_economy">地盘1名称</a></li>
              <li style="display: block;"><a href="http://www.msnbc.msn.com/id/34640612/ns/world_news">地盘1描述</a></li>
            </ul>
          </div>
          <div class="imgText">
            <div class="linkedimg">
              <a href="http://www.msnbc.msn.com/id/34641146"><img width="70" height="70" alt="Jobless claims lowest since July ’08 (Mark Ralston/AFP - Getty Images)" src="E1F750E0ED7D8EA48D6CC9AA34E1F9[1].jpg"/></a>
            </div>
            <ul>
              <li class="first" style="display: block;"><a href="http://www.msnbc.msn.com/id/34641146/ns/business-stocks_and_economy">地盘1名称</a></li>
              <li style="display: block;"><a href="http://www.msnbc.msn.com/id/34640612/ns/world_news">地盘1描述</a></li>
            </ul>
          </div>
        </div>
        <div id="hotTopic">
          <h2>
            <a href="http://www.msnbc.msn.com/">全国热门</a>
          </h2>
          <div class="imgText">
            <div class="linkedimg">
              <a href="http://www.msnbc.msn.com/id/34641146"><img width="70" height="70" alt="Jobless claims lowest since July ’08 (Mark Ralston/AFP - Getty Images)" src="E1F750E0ED7D8EA48D6CC9AA34E1F9[1].jpg"/></a>
            </div>
            <ul>
              <li class="first" style="display: block;"><a href="http://www.msnbc.msn.com/id/34641146/ns/business-stocks_and_economy">地盘1名称</a></li>
              <li style="display: block;"><a href="http://www.msnbc.msn.com/id/34640612/ns/world_news">地盘1描述</a></li>
            </ul>
          </div>
          <div class="imgText">
            <div class="linkedimg">
              <a href="http://www.msnbc.msn.com/id/34641146"><img width="70" height="70" alt="Jobless claims lowest since July ’08 (Mark Ralston/AFP - Getty Images)" src="E1F750E0ED7D8EA48D6CC9AA34E1F9[1].jpg"/></a>
            </div>
            <ul>
              <li class="first" style="display: block;"><a href="http://www.msnbc.msn.com/id/34641146/ns/business-stocks_and_economy">地盘1名称</a></li>
              <li style="display: block;"><a href="http://www.msnbc.msn.com/id/34640612/ns/world_news">地盘1描述</a></li>
            </ul>
          </div>
        </div>
        <div id="hotTopic">
          <h2>
            <a href="http://www.msnbc.msn.com/">全国推荐</a>
          </h2>
          <div class="imgText">
            <div class="linkedimg">
              <a href="http://www.msnbc.msn.com/id/34641146"><img width="70" height="70" alt="Jobless claims lowest since July ’08 (Mark Ralston/AFP - Getty Images)" src="E1F750E0ED7D8EA48D6CC9AA34E1F9[1].jpg"/></a>
            </div>
            <ul>
              <li class="first" style="display: block;"><a href="http://www.msnbc.msn.com/id/34641146/ns/business-stocks_and_economy">地盘1名称</a></li>
              <li style="display: block;"><a href="http://www.msnbc.msn.com/id/34640612/ns/world_news">地盘1描述</a></li>
            </ul>
          </div>
          <div class="imgText">
            <div class="linkedimg">
              <a href="http://www.msnbc.msn.com/id/34641146"><img width="70" height="70" alt="Jobless claims lowest since July ’08 (Mark Ralston/AFP - Getty Images)" src="E1F750E0ED7D8EA48D6CC9AA34E1F9[1].jpg"/></a>
            </div>
            <ul>
              <li class="first" style="display: block;"><a href="http://www.msnbc.msn.com/id/34641146/ns/business-stocks_and_economy">地盘1名称</a></li>
              <li style="display: block;"><a href="http://www.msnbc.msn.com/id/34640612/ns/world_news">地盘1描述</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--right定义页面右侧信息-->
      <div id="right">
        <p>广告</p>
      </div>
      <!--footer定义页面底部信息-->
      <div id ="footer"> </div>
    </div>
  </body>
</html>
