<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理首页</title>
    <link href="infoList.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="infoDetailArea">
      <div id="list">
        <div id="info">
          <p>揭飞人刘翔千万别墅养伤内情 丁父：小晖可40结婚</p>
        </div>
        <ul class="about">
          <li>发布到2个地盘</li>
          <li>点击x次</li>
          <li>评论x次</li>
        </ul>
        <ul class="clear"></ul>
        <ul class="operation">
          <li>查看</li>
          <li>修改</li>
          <li>删除</li>
        </ul>
      </div>
    </div>
  </body>
</html>
