<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理首页</title>
    <link href="my.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!--container是一个页面容器div定义了可见区域的-->
    <div id="container">
      <!--pageHeader定义页面头部信息-->
      <div id="pageHeader">
        <div id="banner">banner</div>
        <div id="search">搜索框</div>
        <div id="login">登录</div>
      </div>
      <!--left定义页面左侧信息-->
      <div id="left">
        <div id ="menu">
          <h3>信息工具</h3>
          <ul>
            <li><a href="#">菜单1</a></li>
            <li><a href="#">菜单1</a></li>
            <li><a href="#">菜单1</a></li>
          </ul>
        </div>
        <div id ="menu">
          <h3>地盘列表</h3>
          <ul>
            <li><a href="#">菜单1</a></li>
            <li><a href="#">菜单1</a></li>
            <li><a href="#">菜单1</a></li>
          </ul>
        </div>
        <div id ="menu">
          <h3>个人管理</h3>
          <ul>
            <li><a href="#">菜单1</a></li>
            <li><a href="#">菜单1</a></li>
            <li><a href="#">菜单1</a></li>
          </ul>
        </div>
      </div>
      <!--middle定义页面中部信息-->
      <div id="middle">

      </div>
      <!--right定义页面右侧信息-->
      <div id="right">
        <p>广告</p>
      </div>
      <!--footer定义页面底部信息-->
      <div id ="footer"> </div>
    </div>
  </body>
</html>
