<%= error_messages_for :user_infotype%>
<% form_tag({ :action => "update_maintainings" }) do%>
  <%if @remain_topics.blank?%>
    没有可维护的地盘
  <%else%>
    <% @remain_topics.each do |remain_topic| %>
      <p>
        <%= remain_topic.title %>
        <%= check_box_tag "selected_topic[]","#{remain_topic.id}"%>
      </p>
    <%end%>
  <%end%>
  <p><%= submit_tag "确定" %> </p>
<% end -%>

