<div class="clear interested">

  <div class="lf">
    <a href="http://t.sina.com.cn/releliu1020"><img src="sinaweiboguangchang_files/1264678535[1].jpg" imgtype="head" uid="1687145751" title="刘璐RELE" class="imgBorder"></a>
    <a class="addFollow" href="" ><span class="addnew">+</span>加关注</a>
  </div>
  <div class="txtInfo">
    <dt class="font_14"><a href="http://t.sina.com.cn/releliu1020" uid="1687145751" title="刘璐RELE">刘璐RELE</a></dt>
    <dd class="address"><img src="sinaweiboguangchang_files/transparent[1].gif" class="small_icon sicon_female" title="女">湖北,武汉<span>粉丝<strong>1</strong>人</span></dd>
    <dd class="summary gray9">愿生命中充满温暖而美好的事情。。He is just not that ...</dd>
    <dd class="matching gray6">你们可能有相同话题</dd>
  </div>
  <div class="lf">
    <a href="http://t.sina.com.cn/1320919187"><img src="sinaweiboguangchang_files/1258435066[1].jpg" imgtype="head" uid="1320919187" title="窗前小院" class="imgBorder"></a>
    <a class="addFollow" href="" ><span class="addnew">+</span>加关注</a>
  </div>
  <dl class="txtInfo">
    <dt class="font_14"><a href="http://t.sina.com.cn/1320919187" uid="1320919187" title="窗前小院">窗前小院</a></dt>
    <dd class="address"><img src="sinaweiboguangchang_files/transparent[1].gif" class="small_icon sicon_female" title="女">北京,东城...<span>粉丝<strong>7</strong>人</span></dd>
    <dd class="summary gray9">心灵的小院，飘飘幽香</dd>
    <dd class="matching gray6">你们可能有相同话题</dd>
  </dl>
  <div class="lf">
    <a href="http://t.sina.com.cn/taskforce141"><img src="sinaweiboguangchang_files/1264555843[1].jpg" imgtype="head" uid="1686696323" title="黄鹤楼车神" class="imgBorder"></a>
    <a class="addFollow" href="" ><span class="addnew">+</span>加关注</a>
  </div>
  <dl class="txtInfo">          <div class="lf">
      <a href="http://t.sina.com.cn/wusheng"><img src="sinaweiboguangchang_files/1252724233[1].jpg" imgtype="head" uid="1645546774" title="吴声" class="imgBorder"></a>
      <a class="addFollow" href="" ><span class="addnew">+</span>加关注</a>
    </div>
    <dl class="txtInfo">
      <dt class="font_14"><a href="http://t.sina.com.cn/wusheng" uid="1645546774" title="吴声">吴声</a></dt>
      <dd class="address"><img src="sinaweiboguangchang_files/transparent[1].gif" class="small_icon man" title="男">北京,丰台...<span>粉丝<strong>38</strong>人</span></dd>
      <dd class="summary gray9"></dd>
      <dd class="matching gray6">你们可能有相同话题</dd>
    </dl>
    <dt class="font_14"><a href="http://t.sina.com.cn/taskforce141" uid="1686696323" title="黄鹤楼车神">黄鹤楼车神</a></dt>
    <dd class="address"><img src="sinaweiboguangchang_files/transparent[1].gif" class="small_icon man" title="男">广东,广州<span>粉丝<strong>0</strong>人</span></dd>
    <dd class="summary gray9">追逐电的脚步,传承经典与辉煌的光芒。发动火的引擎,我将...</dd>
    <dd class="matching gray6">你们可能有相同话题</dd>
  </dl>
  <div class="lf">
    <a href="http://t.sina.com.cn/wusheng"><img src="sinaweiboguangchang_files/1252724233[1].jpg" imgtype="head" uid="1645546774" title="吴声" class="imgBorder"></a>
    <a class="addFollow" href="" ><span class="addnew">+</span>加关注</a>
  </div>
  <dl class="txtInfo">
    <dt class="font_14"><a href="http://t.sina.com.cn/wusheng" uid="1645546774" title="吴声">吴声</a></dt>
    <dd class="address"><img src="sinaweiboguangchang_files/transparent[1].gif" class="small_icon man" title="男">北京,丰台...<span>粉丝<strong>38</strong>人</span></dd>
    <dd class="summary gray9"></dd>
    <dd class="matching gray6">你们可能有相同话题</dd>
  </dl>
</div>
<!-- mainTag -->
<dl class="clear mainTag">
  <dd class="rt"><a style="display: none;" id="topre_more" href="http://t.sina.com.cn/pub/topmblog?type=re&act=day">更多<em>&gt;&gt;</em></a><a style="" id="topcomm_more" href="http://t.sina.com.cn/pub/topmblog?type=cmt&act=day">更多<em>&gt;&gt;</em></a></dd>
  <dd class="lf"><a id="topre_tab" href="" class="zfMore2">最多转发微博</a></dd>
  <dd class="lf"><a id="topcomm_tab" href="" class="plMore">最多评论微博</a></dd>
</dl>
<!-- /mainTag -->
<div class="moreLikeIndex">
  <ul style="display: none;" class="MIB_feed" id="top_re">
    <li class="MIB_linedot2" id="mid_2011002031090703">
      <div class="head_pic"><p class="count">2054</p>
        <p class="text">转发</p></div>
      <div class="MIB_feed_c">
        <p class="sms" mid="2011002031090703" type="1"><a href="http://t.sina.com.cn/2010wlcw" uid="1669407212" title="2010年BTV新浪网络春晚">2010年BTV新浪网络春晚<img class="small_icon vip" src="sinaweiboguangchang_files/transparent[1].gif" title="新浪认证" alt=""></a>：今天的<a href="http://t.sina.com.cn/k/祝福征集令">#祝福征集令#</a>：加关注后，按“<a href="http://t.sina.com.cn/k/绁濈鎴戠殑瀹濊礉">#祝福我的宝贝#</a>（你的祝福）”的格式评论并转发本条围脖，第99、199……1999次转发的粉丝，将获得网络春晚总赞每克拉美提供的钻石一颗！另外，第5999位转发者将获得特别奖，独享3颗钻石！从2月7日开始每天15点，每克拉美钻石邀请您同看网络春晚，尽请期待！</p>
        <div id="image_2011002031090703">
        </div>
        <div class="feed_att">
          <div class="lf gray9"><cite><a href="http://t.sina.com.cn/1669407212/k4Cdd4zJZ">今天 10:35</a></cite>
            来自新浪微博</div>
          <div class="rt"><a href="" lastforwarder="1669407212" initbloger="" lastforwardername="2010年BTV新浪网络春晚" initblogername="" >转发<strong id="num_2011002031090703">(2054)</strong></a><span class="MIB_line_l">|</span>
            <a href="" >收藏</a>
            <span class="MIB_line_l">|</span>
            <a id="_comment_count_miniblog2_2011002031090703" href="" >评论<strong>(2036)</strong></a>
          </div>
        </div>
        <div id="_comment_list_miniblog2_2011002031090703">
        </div>
      </div>
      <div class="clearit"></div>
    </li>
    循环
  </ul>
  <ul class="MIB_feed" id="top_comm" style="">
    <li class="MIB_linedot2" id="mid_201100202889395">
      <div class="head_pic"><p class="count">3840</p>
        <p class="text">评论</p></div>
      <div class="MIB_feed_c">
        <p class="sms" mid="201100202889395" type="1"><a href="http://t.sina.com.cn/gzchensir" uid="1644089733" title="chensir">chensir<img class="small_icon vip" src="sinaweiboguangchang_files/transparent[1].gif" title="新浪认证" alt=""></a>：现在基地。我说要发头贴。有个村民说要抢沙发。TA就在我的对面。但是TA的手机上不了网。。。</p>
        <div id="image_201100202889395">
        </div>
        <div class="feed_att">
          <div class="lf gray9"><cite><a href="http://t.sina.com.cn/1644089733/20sCwc7F9">2月2日 21:01</a></cite>
            来自新浪微博</div>
          <div class="rt"><a href="" lastforwarder="1644089733" initbloger="" lastforwardername="chensir" initblogername="" >转发<strong id="num_201100202889395">(330)</strong></a><span class="MIB_line_l">|</span>
            <a href="" >收藏</a>
            <span class="MIB_line_l">|</span>
            <a id="_comment_count_miniblog2_201100202889395" href="" >评论<strong>(3840)</strong></a>
          </div>
        </div>
        <div id="_comment_list_miniblog2_201100202889395">
        </div>
      </div>
      <div class="clearit"></div>
    </li>
    循环，
  </ul>
</div>