<%= stylesheet_link_tag 'list' %>

<div id="list_block">
  <h3>信息列表</h3>
  <% @topic_info_types.each do |topic_info_type| %>

    <div id ="list_title">
      <%= InfoType.find(topic_info_type.info_type_id).name %>
    </div>
    <% @infos_of_info_types["#{topic_info_type.info_type_id}"].each do |info|%>
      <%if info.title.content_type_id == 5%>
        <div id ="list_info_text">
          <%= link_to info.title.value,:controller=>'infos',:action=>'show',:id=>info.id%><br>
        </div>
      <%elsif info.title.content_type_id == 7%>
        <div id ="list_info_img">
          <%= link_to image_tag(info.title.attachments.find(:first).public_filename),:controller=>'infos',:action=>'show',:id=>info.id%>
        </div>
      <%end%>
    <%end%>
  <%end%>
</div>