<script language="JavaScript">
  flowplayer(
  "video",
  "../flowplayer/flowplayer-3.1.5.swf",
  "http://localhost:3000/02006401004897C910254A000E6F693C724CF7-D8B3-2F9A-A670-C300A7B421C0[1].flv"
);
</script>
<div  id="video"></div>
